[submodule "vendor/bullet3"]
	path = vendor/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
